SPARK_MASTER_UI_PORT=
SPARK_MASTER_PORT=
SPARK_MASTER_URL=
SPARK_WORKER_MEM=
SPARK_EXECUTOR_MEM=
SPARK_WORKER_CORES=
SPARK_MASTER_HOST=spark-master
SPARK_MASTER_ADDRESS=la-ip-o-host-master
SPARK_WORKER_PORT=
CURRENT_IP=